<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout/template :: layout(~{::title},~{::body/content()})}"
>
  <head>
    <title>InvenTrack</title>
  </head>

  <body>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">分類情報管理</h6>
         </div>
    </div>
    
	<center>
		<form method="post" th:action="@{'/admin/categoryInfo/search'}" >
        
        <!-- 検索条件に下線 -->
        <u>検索条件</u>&nbsp;&nbsp;&nbsp;&nbsp;
        <!-- 分類名-->
        分類名 &nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text">&nbsp;&nbsp;&nbsp;&nbsp;
        <!-- 検索ボタン-->
        <input type="submit" value="検索" style="background-color:rgb(255, 255, 128);">
    	
    	</form>
    </center>
	
	<br>
    
     <table border="1"  width="50%" style="margin: 0 auto; text-align: center;">
    	<tr th:each="category : ${categoryInfoList}">
        <td th:text="${category.name}"></td>
     </tr>
	 </table>
    
  </body>
</html>
